*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1{
    font-size: 48px;
    color: white;
}

p{
    color: #FFFFFFD9;
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 3em;
}

.btn{
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #23424A;
    background-color: #38CFD9;
    padding: 0.75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus{
    opacity: 0.75;
}

.intro{
    background-color:#23424A;
    margin: 0 auto;
    padding: 100px 0;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.intro__content{
    width: 60%;
}